<button  routerLink="/atualizarcarro">Voltar</button>

<div class="content_top">
    <h3 classe="carro"  aria-label="atualize um carro" required>
        ATUALIZE UM CARRO
    </h3>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="formularioDecarro">
    <div class="form-group">
        <h2 for="marca">MARCA</h2>
        <input type="text" name="nome" id="marca" class="form-control"
        formControlName="marca" value="{{carro?.marca}}" required>
        <br>

        <h2 for="modelo">MODELO</h2>
        <input type="text" name="modelo" id="modelo" class="form-control"
        formControlName="modelo" value="{{carro?.modelo}}" required>
        <br>

        <h2 for="placa">PLACA</h2>
        <input type="text" name="placa" id="placa" class="form-control"
        formControlName="placa" value="{{carro?.placa}}" required>
        <br>

        <h2 for="cor">COR</h2>
        <input type="text" name="cor" id="cor" class="form-control"
        formControlName="cor" value="{{carro?.cor}}" required>
        <br>
        
        <h2 for="fabricante">FABRICANTE</h2>
        <input type="text" name="fabricante" id="fabricante" class="form-control"
        formControlName="fabricante" required>
        <br>

        <h2 for="gasolina">COMBUSTÍVEL</h2>
        <input type="text" name="gasolina" id="gasolina" class="form-control"
        formControlName="gasolina" value="{{carro?.gasolina}}" required>
        <br>
        
        <h2 for="quilometragem">QUILOMETRAGEM</h2>
        <input type="text" name="quilometragem" id="quilometragem" class="form-control"
        formControlName="quilometragem" value="{{carro?.quilometragem}}" required>
        <br>
        
        <h2 for="chassi">CHASI</h2>
        <input type="text" name="chassi" id="chassi" class="form-control"
        formControlName="chassi" value="{{carro?.chassi}}" required>
        <br>
        
        <h2 for="valor">VALOR</h2>
        <input type="text" name="valor" id="valor" class="form-control"
        formControlName="valor" value="{{carro?.valor}}" required>
        <br>

        <h2 for="imagem">IMAGEM</h2>
        <input type="text" min="0" name="imagem" id="imagem" class="form-control"
        formControlName="imagem" value="Digite a url da imagem do carro" required>
        <br>

        <h2 for="anp">ANO</h2>
        <input type="text" min="0" name="ano" id="anp" class="form-control"
        formControlName="ano" placeholder="Digite o ano do carro" required>
        <br>
    </div>
    
    <input class="btn btn-danger" type="reset" name="Limpar" value="Limpar"  aria-label="Botão que limpa todo o formulário">
    <input class="btn btn-success" type="submit" name="Atualizar" value="Atualizar" [disabled]="!formularioDecarro.valid"  aria-label="Botão que cadastra o carro">
</form>