<div class="topo">
    <h1  aria-label="O nome do site é Catalogo de carros">
        CONCESSIONÁRIA  
    </h1>
</div>

<div class="conjunto_de_butoes">
    <button class="button" mat-flat-button (click)="trocarAltoContraste()" 
             aria-label="Botão que aplica na pagina o alto-contraste">
        <i id="alto-contraste" class="material-icons whiteIcon" title="Alto Contraste" >
            invert_colors
        </i>
    </button>
    <button class="button" mat-flat-button (click)="mudarFonte(1)" 
             aria-label="Botão que aplica na pagina o aumento da fonte">
        <i class="material-icons whiteIcon" title="Aumentar fonte">
            add
        </i>
    </button>
    <button class="button" mat-flat-button (click)="mudarFonte(0)" 
             aria-label="Botão que aplica na pagina a restauração da fonte">
        <i class="material-icons whiteIcon" title="Redefinir fonte">
            check
        </i>
    </button>
    <button class="button" mat-flat-button (click)="mudarFonte(-1)" 
             aria-label="Botão que aplica na pagina a diminuição da fonte">
        <i class="material-icons whiteIcon" title="Diminuir fonte">
            remove
        </i>
    </button>
</div>